body, html {
    background-color: #0d1117;
    height: 100%;
} 
footer {
    background-color: #0d1117;
    height: 50px;
    /* sticky footer */
    position: fixed;
    bottom: 0;
    width: 100%; 
}
footer {
    background-color: #0d1117;
    height: 50px;
    /* sticky footer */
    position: fixed;
    bottom: 0;
    width: 100%; 
}
input {
    border-color: #0d1117 !important;
     
}
textarea {
    border-color: #0d1117 !important;
    resize: none; 
}
.navbar {
    background-color: #1f2125 !important;
}
.random-idea {
        
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 10% auto;
    width: 50%;            
}

.random-idea h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.random-idea p {
    font-size: 1em;
    margin: 0;
}

.random-idea p:first-child {
    font-weight: bold;
}
        input {
            border-color: #0d1117 !important;
             
        }
        textarea {
            border-color: #0d1117 !important;
            resize: none; 
        }